<a href="https://colab.research.google.com/github/viktoruebelhart/avengers/blob/main/avengers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd

# Specify the encoding when reading the CSV file
df = pd.read_csv('/content/Five Thirty Eight - avengers.csv', encoding='ISO-8859-1')

In [70]:
df.head()

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,...,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,NaN,Sep-63,1963,52,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   URL                          173 non-null    object
 1   Name/Alias                   163 non-null    object
 2   Appearances                  173 non-null    int64
 3   Current?                     173 non-null    object
 4   Gender                       173 non-null    object
 5   Probationary Introl          15 non-null     object
 6   Full/Reserve Avengers Intro  159 non-null    object
 7   Year                         173 non-null    int64
 8   Years since joining          173 non-null    int64
 9   Honorary                     173 non-null    object
 10  Death1                       173 non-null    object
 11  Return1                      69 non-null     object
 12  Death2                       17 non-null     object
 13  Return2                      16 non-null     object
 14  Death3                       2 non-null      object
 15  Return3                      2 non-null      object
 16  Death4                       1 non-null      object
 17  Return4                      1 non-null      object
 18  Death5                       1 non-null      object
 19  Return5                      1 non-null      object
 20  Notes                        75 non-null     object
dtypes: int64(3), object(18)
memory usage: 28.5+ KB

In [72]:
# Check for null values in each column
null_counts = df.isnull().sum()
print(null_counts)

# Check for null values in the entire DataFrame
total_nulls = df.isnull().sum().sum()
print(f"\nTotal number of null values in the DataFrame: {total_nulls}")

# Display rows with null values (for a specific column, replace 'Year' with the desired column name)
# rows_with_nulls = df[df['Year'].isnull()]
# print(rows_with_nulls)

URL                              0
Name/Alias                      10
Appearances                      0
Current?                         0
Gender                           0
Probationary Introl            158
Full/Reserve Avengers Intro     14
Year                             0
Years since joining              0
Honorary                         0
Death1                           0
Return1                        104
Death2                         156
Return2                        157
Death3                         171
Return3                        171
Death4                         172
Return4                        172
Death5                         172
Return5                        172
Notes                           98
dtype: int64

Total number of null values in the DataFrame: 1727

In [73]:
# Display rows where 'Name/Alias' is null
rows_with_null_names = df[df['Name/Alias'].isnull()]
rows_with_null_names

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,...,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
56,http://marvel.wikia.com/Gilgamesh_(Earth-616)#,NaN,61,NO,MALE,NaN,Feb-89,1989,26,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Killed by Neut who was working for Immortus. R...
61,http://marvel.wikia.com/Dinah_Soar_(Earth-616)#,NaN,22,NO,FEMALE,NaN,Jul-89,1989,26,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Died in Great_Lakes_Avengers_Vol_1_1. Has not ...
67,http://marvel.wikia.com/Monkey_Joe_(Earth-616)#,NaN,7,NO,MALE,NaN,5-May,2005,10,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Killed by Leather Boy
69,http://marvel.wikia.com/Tippy-Toe_(Earth-616)#,NaN,16,NO,FEMALE,NaN,5-Jul,2005,10,Full,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,http://marvel.wikia.com/Melissa_Darrow_(Earth-...,NaN,28,NO,FEMALE,NaN,Jun-93,1993,22,Honorary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,http://marvel.wikia.com/Deathcry_(Earth-616)#,NaN,50,NO,FEMALE,NaN,Jul-93,1993,22,Honorary,...,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Reduced her to a pile of bones and organsby V...
148,http://marvel.wikia.com/Captain_Universe_(Eart...,NaN,55,YES,MALE,NaN,13-Feb,2013,2,Full,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,http://marvel.wikia.com/Ex_Nihilo_(Earth-616)#,NaN,24,YES,MALE,NaN,13-Oct,2013,2,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Died in New_Avengers_Vol_3_32
154,http://marvel.wikia.com/Abyss_(Ex_Nihilo%27s)_...,NaN,25,YES,FEMALE,NaN,13-Oct,2013,2,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Died in New_Avengers_Vol_3_32
166,http://marvel.wikia.com/Doombot_(Avenger)_(Ear...,NaN,14,YES,MALE,NaN,13-Sep,2013,2,Full,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
print(df['Name/Alias'][166])

nan

In [75]:
df['Name/Alias'].fillna(
    df['URL'].str.extract(r'/([^/]+)_\(Earth-616\)', expand=False)  # Extrai o nome da URL
    .str.replace('_', ' '),  # Substitui _ por espaço
    inplace=True  # Aplica diretamente no DataFrame
)

<ipython-input-75-99f2c4c7f76f>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Name/Alias'].fillna(

In [76]:
rows_with_null_names = df[df['Name/Alias'].isnull()]
rows_with_null_names

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,...,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
80,http://marvel.wikia.com/Melissa_Darrow_(Earth-...,NaN,28,NO,FEMALE,NaN,Jun-93,1993,22,Honorary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df.loc[80, 'Name/Alias'] = 'Melissa Darrow'

In [78]:
rows_with_null_names

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,...,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
80,http://marvel.wikia.com/Melissa_Darrow_(Earth-...,NaN,28,NO,FEMALE,NaN,Jun-93,1993,22,Honorary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   URL                          173 non-null    object
 1   Name/Alias                   173 non-null    object
 2   Appearances                  173 non-null    int64
 3   Current?                     173 non-null    object
 4   Gender                       173 non-null    object
 5   Probationary Introl          15 non-null     object
 6   Full/Reserve Avengers Intro  159 non-null    object
 7   Year                         173 non-null    int64
 8   Years since joining          173 non-null    int64
 9   Honorary                     173 non-null    object
 10  Death1                       173 non-null    object
 11  Return1                      69 non-null     object
 12  Death2                       17 non-null     object
 13  Return2                      16 non-null     object
 14  Death3                       2 non-null      object
 15  Return3                      2 non-null      object
 16  Death4                       1 non-null      object
 17  Return4                      1 non-null      object
 18  Death5                       1 non-null      object
 19  Return5                      1 non-null      object
 20  Notes                        75 non-null     object
dtypes: int64(3), object(18)
memory usage: 28.5+ KB

In [80]:
df.head()

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,...,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,NaN,Sep-63,1963,52,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...

In [82]:
df['Current?'].value_counts()

Current?
NO     91
YES    82
Name: count, dtype: int64

In [88]:
df['Gender'].unique()

array(['MALE', 'FEMALE'], dtype=object)

In [89]:
df['Gender'].value_counts()

Gender
MALE      115
FEMALE     58
Name: count, dtype: int64